<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()" aria-label="menu"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Blackbird Technical Test</h1>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" role="navigation">
    <mat-nav-list role="navigation">
      <a mat-list-item [routerLink]="['/home']" [queryParams]="{cache: ''}">Home</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
